<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Update Requests</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Roll No</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Program</th>
                <th>Subject</th>
                <th>Year</th>
                <th>Student's Contact</th>
                <th>Father's Name</th>
                <th>Mother's Name</th>
                <th>Parent's Contact</th>
                <th>Address</th>
                <th>City</th>
                <th>Pincode</th>
                <!-- Add more table headers if needed -->
            </tr>
        </thead>
        
        <tbody>
            <% data.forEach(item => { %>
                <tr>
                    <td><%= item.st_id %></td>
                    <td><%= item.st_roll %></td>
                    <td><%= item.st_name %></td>
                    <td><%= item.dob %></td>
                    <td><%= item.program %></td>
                    <td><%= item.sub %></td>
                    <td><%= item.yr %></td>
                    <td><%= item.st_phno %></td>
                    <td><%= item.email %></td>
                    <td><%= item.f_name %></td>
                    <td><%= item.m_name %></td>
                    <td><%= item.f_phno %></td>
                    <td><%= item.address %></td>
                    <td><%= item.city %></td>
                    <td><%= item.state %></td>
                    <td><%= item.pincode %></td>
                    <!-- Add more table data if needed -->
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
